<!-- <div class="row">
	<div class="col-xl-6">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'Order Statistics'">
				<ng-container ktPortletTools>
					<kt-context-menu2></kt-context-menu2>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<kt-widget12></kt-widget12>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div> -->

<div class="row">
	<div class="col-xl-6">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<!-- <kt-portlet-header [title]="'KPA Smart Campus Dashboard'">
				<ng-container ktPortletTools>
					<kt-context-menu2></kt-context-menu2>
				</ng-container>
			</kt-portlet-header> -->
			<kt-portlet-body [class]="'no_padding'">
				<kt-google-map></kt-google-map>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>


<!-- <kt-portlet>
	<kt-portlet-body [class]="'kt-portlet__body--fit'">
		<div class="row row-no-padding row-col-separator-xl">
			<div class="col-xl-4">
				<google-map></google-map>
			</div>
			<div class="col-xl-4">
				<kt-widget14 [title]="'Daily Sales'" [desc]="'Check out each collumn for more details'"></kt-widget14>
			</div>
			<div class="col-xl-4">
				<kt-widget14 [title]="'Revenue Change'" [desc]="'Revenue change breakdown by cities'"></kt-widget14>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet> -->

<!--
<kt-portlet>
	<kt-portlet-header>
		<ng-container ktPortletTitle>
		</ng-container>
		<ng-container ktPortletTools>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body></kt-portlet-body>
	<kt-portlet-footer></kt-portlet-footer>
</kt-portlet>
-->
