@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";

// $ui-background: #ffffff !default;

.dashboard {
	padding: 0;

	.bx--grid {
		max-width: 100rem;
	}

	.bx--header ~ .bx--content {
		margin-top: 0rem;
	}

	.iframeContainer {
		height: 900px; /* temp solution */  /*height: 95%;*/
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
	}

	.iframeContainer pre {
		display: flex;
		font-size: medium;
		white-space: pre-wrap;
	}

	.iframe {
		flex-grow: 1;
		border: none;
		margin: 0;
		padding: 0;
	}

	.title {
		@include type-style("productive-heading-05");
	}

	.subtitle {
		margin-top: carbon--mini-units(2);
		@include type-style("productive-heading-02");
	}

	.body-text {
		margin-top: carbon--mini-units(2);
		margin-bottom: carbon--mini-units(4);
	}

	.list {
		max-width: carbon--mini-units(63);
		padding-left: carbon--mini-units(6);
		column-count: 2;

		@media only screen and (max-width: 1055px) {
			margin-top: carbon--mini-units(2);
		}
	}

	.dashboard-tab-description {
		margin-bottom: carbon--mini-units(2);
	}

}
