:host {
	.kt-subheader__desc {
		margin: 0;
	}
}


.no_padding {
	padding: 1px !important;
}

.less_padding{
	padding-top: 1px;
	padding-right: 25px;
	padding-bottom: 1px;
	padding-left: 25px;
}
