<ibm-header [brand]="brandTemplate" name=" - WA Demo" [route]="['/']" >
	<!-- <ibm-hamburger *ngIf="hasHamburger" [active]="leftPanelActive" (selected)="leftPanelActive = !leftPanelActive"> </ibm-hamburger> -->
	<ibm-hamburger *ngIf="hasHamburger" [active]="leftPanelActive" (selected)="leftPanelActive = !leftPanelActive"> </ibm-hamburger>

	<ibm-header-navigation ariaLabel="Watson Assistant Demo">

		<ibm-search placeholder="Search" ></ibm-search>

		<ibm-header-item >Support</ibm-header-item>
		<ibm-header-menu title="Docs">
			<ibm-header-item><span>IBM Cloud Platform</span></ibm-header-item>
			<ibm-header-item><span>Watson Assistant</span></ibm-header-item>
			<ibm-header-item>Watson Discovery</ibm-header-item>
			<ibm-header-item>DevOps</ibm-header-item>
		</ibm-header-menu>

	</ibm-header-navigation>

	<ibm-header-global >
		<ibm-header-action #notificationAction title="action" (click)="notificationClicked($event)">
			<svg ibmIconNotification size="20"></svg>
		</ibm-header-action>

		<ng-container [ngSwitch]="(user$ | async)?.id && 'isLoggedIn'">
			<ng-container *ngSwitchCase="'isLoggedIn'">
				<ibm-header-action #avatarAction title="action" (click)="avatarClicked($event)" >
					<svg ibmIconUserAvatar size="20"></svg>
				</ibm-header-action>
			</ng-container>
			<ng-container *ngSwitchDefault>
				<ibm-header-navigation ariaLabel="Login">
					<ibm-header-item (click)="login()">Login</ibm-header-item>
				</ibm-header-navigation>
			</ng-container>
		</ng-container>

		<!-- <ibm-header-action *ngIf="user$ | async as _user;" #avatarAction title="action" (click)="avatarClicked($event)" >
			<svg ibmIconUserAvatar size="20"></svg>
		</ibm-header-action> -->

		<ibm-header-action #switcherAction title="action">
			<svg ibmIconAppSwitcher size="20"></svg>
		</ibm-header-action>
	</ibm-header-global>
</ibm-header>

<!-- <ibm-sidenav rail="!leftPanelActive" [expanded]="leftPanelActive" [hidden]="!leftPanelActive"> -->
<ibm-sidenav rail="!leftPanelActive" [expanded]="leftPanelActive" >
	<ibm-sidenav-item [route]="['dashboard']">
		<svg icon ibmIconDashboard size="16"></svg>
		Dashboard
	</ibm-sidenav-item>
	<ibm-sidenav-item>
		<svg icon ibmIconSettings size="16"></svg>
		Configurations
	</ibm-sidenav-item>

	<ibm-sidenav-menu title="UI">
		<svg icon ibmIconCarbon size="16"></svg>
		<ibm-sidenav-item ><a href="https://www.carbondesignsystem.com/" ibmLink target="_blank">Carbon Design</a>  </ibm-sidenav-item>
		<ibm-sidenav-item ><a href="https://github.com/IBM/carbon-components-angular#readme" ibmLink target="_blank">Carbon Components</a></ibm-sidenav-item>
		<ibm-sidenav-item><a href="https://angular.carbondesignsystem.com/" ibmLink target="_blank">Carbon Angular</a></ibm-sidenav-item>
	</ibm-sidenav-menu>

	<ibm-sidenav-menu title="Demos">
		<svg icon ibmIconWatson size="16"></svg>
		<ibm-sidenav-item> Insurance Agent </ibm-sidenav-item>
	</ibm-sidenav-menu>

	<hr class="bx--side-nav__divider" />

	<ibm-sidenav-menu title="Resources">
		<ibm-sidenav-item> Git Repository </ibm-sidenav-item>
	</ibm-sidenav-menu>


</ibm-sidenav>

<!-- <a href="#" ibmLink>Profile and settings</a> -->
<ibm-panel class="user_panel" [expanded]="showUserPanel">
	<ibm-switcher-list >
		<ng-container *ngIf="user$ | async as _user">
			<div ibmGrid>
				<div class="body-text" ibmRow>
					<!-- <div ibmCol [columnNumbers]="{'lg': 3, 'md': 6, 'sm': 6}">
						<h1>Pic</h1>
					</div> -->
					<div ibmCol [columnNumbers]="{'lg': 12}">
						<h4 class="title">{{_user.name}}</h4>
					</div>
				</div>
			</div>

			<ibm-switcher-list-item routerLink="profile">
				Profile & Settings
			</ibm-switcher-list-item>
		</ng-container>

		<ibm-switcher-list-item routerLink="privacy">Privacy</ibm-switcher-list-item>
		<ibm-switcher-list-item routerLink="feedback">Feedback</ibm-switcher-list-item>
	</ibm-switcher-list>

	<!-- <hr class="bx--switcher__divider" /> -->

	<ibm-switcher-list >
		<div class="bx--switcher__divider">
			<span>User Actions</span>
		</div>
	</ibm-switcher-list>

	<ibm-switcher-list-item (click)="logout()">Logout</ibm-switcher-list-item>

</ibm-panel>

<ibm-panel [expanded]="notificationAction.active">
	<ibm-switcher-list>
		<ibm-switcher-list-item active="true">Notification item one</ibm-switcher-list-item>
		<ibm-switcher-list-item>Notification item two</ibm-switcher-list-item>
		<ibm-switcher-list-item>Notification item three</ibm-switcher-list-item>
		<ibm-switcher-list-item>Notification item four</ibm-switcher-list-item>
	</ibm-switcher-list>
</ibm-panel>

<ibm-panel [expanded]="switcherAction.active">
	<ibm-switcher-list>
		<ibm-switcher-list-item active="true">Switcher item one</ibm-switcher-list-item>
		<ibm-switcher-list-item>Switcher item two</ibm-switcher-list-item>
		<ibm-switcher-list-item>Switcher item three</ibm-switcher-list-item>
		<ibm-switcher-list-item>Switcher item four</ibm-switcher-list-item>
	</ibm-switcher-list>
</ibm-panel>


