
.bx--list--unordered > .bx--list__item {
	position: inherit;
}

.footer--grid {
	padding-top: 2rem;
	padding-left: 4rem;
	padding-right: 4rem;
	padding-bottom: 3rem;
}

.bx--list__item a {
	text-decoration: none;
}
