<div class="error-page" ibmGrid>
	<h1 class="title">Access Denied </h1>
	<p class="subtitle">You don't have access to this page.  Please login to conitnue.</p>
	<!-- <div class="body-text" ibmRow>
		<div ibmCol [columnNumbers]="{'lg': 6, 'md': 12, 'sm': 12}">
			<p>
				This is an Angular CLI app configured for use with Carbon.
				It includes the grid, list, tab and tile components. Feel free
				to add or remove any components to fit your use case.
				To help you get started we've also set up:
			</p>
		</div>
		<div ibmCol [columnNumbers]="{'lg': 6, 'md': 12, 'sm': 12}">
			<ul ibmList class="list">
				<li ibmListItem>Angular-cli</li>
				<li ibmListItem>Build Process</li>
				<li ibmListItem>Code styles <br>& editor configs</li>
				<li ibmListItem>Folder structure</li>
				<li ibmListItem>Lazy loading</li>
				<li ibmListItem>Routing</li>
				<li ibmListItem>Service workers</li>
				<li ibmListItem>Test framework</li>
			</ul>
		</div>
	</div> -->
</div>
