
.bx--search-input {
	background-color: #312f2f;
	color: white;
	border-bottom: none;
}

.bx--toolbar-search__btn {
	position: relative;
}

a.bx--header__name {
	padding-right: 6.5em;
}

// .bx--panel--expanded {
// 	max-height: 300px;
// }

.bx--panel--overlay {
	max-height: 300px;
}

.avatarPanel {
	max-height: 300px;
}


